{{- $email := promptStringOnce . "email" "Email address" -}}

[data]
  email = {{ $email | quote }}

[[textcov]]
  pattern = "**/*.plist"
  command = "plutil"
  args = ["-convert", "xml1", "-o", "-"]
